<md-dialog aria-label="Disapprove Log">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Disapprove Log</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/svg/multiply.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <i style="color:#FA0000">Do you want to add comments for {{log.emp}}'s Cleaning Log at {{log.name}}?</i><br/>
        <md-input-container>
          <label>Comments</label>
          <input ng-model="comments"/>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-warn" ng-click="done()">
       Disapprove
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>