.FAB{
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.text-capitalize {
  text-transform: capitalize; }

.md-fab:hover {
  background-color: #000 !important; }

p.note {
  font-size: 1.2rem; }

.lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.job-title {
	border: 1px solid #000;
	border-radius: 30px;
	text-align: center;
}
.job-title.error {
  border: 1px solid #FA0000 !important;
}

.job-title-padding {
	width: 30%;
}

.serial {
  margin-right: 20px;
}

.error {
  color: #FA0000;
}

.info {
  color: #3f51b5;
}